* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 700px;
  background-color: yellow;
  border: 3px solid black;
}

.square {
  width: calc(100% / 10);
  aspect-ratio: 1 / 1;
  border: 2px solid black;
}

button {
  width: 80px;
  background-color: blue;
  color: white;
  border-radius: 20px;
}

.square.clicked {
  background-color: lightcyan;
}

.square span {
  display: none;
}

.square.clicked span {
  display: block;
}